# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ProjectSettings.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\nonol\Desktop\PROJET DE S2\OfficialLightBenderArnaud\Light Bender\ProjectSettings\.idea\.idea.ProjectSettings.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
